{% extends './base2.html' %}

{% block content %}
<style>
.table td, .table th {
    padding: 0 !important;
    cursor: pointer;
}
.table{
    max-height: 500px !important;
}

.functionButtons{
    position: fixed !important;
    bottom : 0!important;
}

.highlighted{
    background: seagreen;
    color: white;
}

.serviceDiv {
    position: relative;
}

.ServiceList{
    position: absolute;
    top: 30px;
    width: 80%;
    max-height: 200px;
    overflow: auto;
    background-color: seagreen;
    color: white;
}

.ServiceList > li {
    cursor: pointer;
}
.modal-content{
    min-height: 500px !important;
}
.modal-body{
    position: relative !important;
}

.last__div{
    position: absolute !important;
    bottom: 0 !important;
}
</style>
<div class='row'>
    <div class='col-8'>
        <h3>Today's patients</h3>
        <table class="table" id='patientTable'>
            <thead>
                <tr>
                    <td scope="col">Sr.</td>
                    <td scope="col">Patient's Name</td>
                    <td scope="col">N/F</td>
                    <td scope="col">Consultant</td>
                    <td scope="col">Payment Category</td>
                </tr>

            </thead>
            <tbody>
                {% for patient in patients %}
                <tr id='p{{patient.id}}'>
                    <td>{{ forloop.counter }} </td>
                    <td> {{ patient.firstName}} {{ patient.middleName }} {{ patient.surname }} </td>
                    <td>{{ patient.patient_status }}</td>
                    <td>{{ patient.Consultants.name }}</td>
                    <td> {{ patient.paymentBy}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">

    </div>
    
</div>

<div class='functionButtons'>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPatient">
        New Patient
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#">
        Follow-up patient
    </button>
    <button type="button" id="billButton" class="btn btn-primary" data-toggle="modal" data-target="#billMOdal">
        Add bill patient
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#">
        Change Consultant
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#">
        Print Paper
    </button>
</div>

<div class="modal fade" id="newPatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-2" role="document" style="min-width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="searchPatinet">Search Patient</label>
                <input type="text" placeholder='Search here for followup patient' id='searchPatinet'>
                <ul id='search_patient'>

                </ul>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-3'>Date: </label>
                                <input type='text' class='col-9 form-control' disabled value="{% now 'SHORT_DATE_FORMAT' %}">
                            </div>
                
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-4'>UHID No.: </label>
                                {{form.UhidNo}}
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-3'>User: </label>
                                <input type='text' disabled value="Samiran" class='col-md-9 form-control' name='created_by'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-3'>Title: </label>
                                <select class='form-control col-md-9' name='title'>
                                    <option>Mr.</option>
                                    <option>Mrs.</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-3'>Surname: </label>
                                <input type='text' class='col-md-9 form-control' name='surname'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-3'>Firstname: </label>
                                <input type='text' class='col-md-9 form-control' name='firstName'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-4'>Middlename: </label>
                                <input type='text' class='col-md-8 form-control' name='middleName'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-4'>Birth Date: </label>
                                <input type='date' class='col-md-8 form-control' name='BirthDate'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-3'>Age: </label>
                                <input type='number' class='col-md-9 form-control' name='Age'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-3'>Gender: </label>
                                <select class='form-control col-md-9' name='gender'>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-3'>tell.No: </label>
                                <input type='text' class='col-md-9 form-control' name='tell_no'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-3'>Address: </label>
                                <input type='text' class='col-md-9 form-control' name='address'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-3'>ref by: </label>
                                <input type='text' class='col-md-9 form-control' value='SELF' name='ref_by'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-4'>payment By: </label>
                                <input type='text' class='col-md-8 form-control' value="SELF PAY" name='paymentBy'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-4'>Consultants: </label>
                                <select name="consultants">
                                {% for consultant in consultants %}
                                    <option value='{{consultant.id}}'>{{consultant.name}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-'>ID Proof: </label>
                                <select class='form-control col-md-8' name='id_proof_name'>
                                    <option value="voter">Voter Id</option>
                                    <option value='aadhar'>Aadhar Card</option>
                                    <option value="pancard">Pan Card</option>
                                    <option value="passport">Passport</option>
                                    <option value="drivinglisence">Driving Lisence</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-4'>No: </label>
                                <input type='text' name='id_prof_details'>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="row">
                                <label class='col-4'>Weight: </label>
                                <input type='text' name='Weight'>kg
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-active btn-primary">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% comment %} Add BILL  {% endcomment %}

<div class="modal fade" id="billMOdal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <p id="patientName"></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class='serviceDiv'>
            <input type="text" id='serviceName' placeholder="search service" > <input id="serviceAmount" type="number" > <button class="btn btn-sm" id='addService'>Add</button>
            <ul class="ServiceList" id="serviceLists" style="display: none;">
                
            </ul>
        </div>
        

        <table id="billTable" style="width: 100%;">
            <thead>
                <tr>
                    <td>Sr No</td>
                    <td>Bill Name</td>
                    <td>Amount</td>
                    <td>User</td>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <div class="row last__div">
            <div class="col-4">
                <label>Amount</label>
                <input id="TotalAmount" class="form-control" type="number" value="0">
            </div>
            <div class="col-4">
                <label>Paid</label>
                <input id="paid" class="form-control" type="number" value="0">
            </div>
            <div class="col-4">
                <label>Balance</label>
                <input id="balance" class="form-control" disabled type="number" value="0">
            </div>
        </div>
      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="Save">Save</button>
        <button type="button" class="btn btn-primary">Finalize</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}

<script>
let all_services = [];
let bill_header = [];
let billDetails = [];

let todaysPatients = [];

$.ajax({
    url: '/apis/all_services/',
    method: 'GET',
    async: false,
    contentType: 'application/json'
}).done(resp=> all_services=resp)


$.ajax({
    url: '/apis/TodayBillDetails/',
    method: 'GET',
    async: false,
    contentType: 'application/json'
}).done(resp=>billDetails=resp)


$.ajax({
    url: '/apis/TodayBillHeader/',
    method: 'GET',
    async: false,
    contentType: 'application/json'
}).done(resp=>billDetails=resp)


$.ajax({
    url: '/apis/TodayPatients/',
    method: 'GET',
    async: false,
    contentType: 'application/json'
}).done(resp=>{todaysPatients=resp})



//  down key action  



/**
 * Gets the tr at the specified row or column
 */
var tbody = document.getElementsByTagName('tbody')[0];
function getRow(row) {
    return tbody.getElementsByTagName('tr')[row];
}

// store these so we won't have to keep recalculating
var numRows = tbody.getElementsByTagName('tr').length;

// index of the currently highlighted row

let curRow, patient_id;

// highlight the initially highlighted cell

$('#patientTable tbody').find('tr').click(function(){
    let index_number = $(this).index();
    patient_id = {
        patient: $(this).attr('id').slice(1,),
        total_bill: 0,
        paid: 0,
        balance: 0
    }

    if(curRow >=0){
        getRow(curRow).className = 'normal';
    }
    getRow(index_number).className = 'highlighted';
    curRow = index_number;

})


// listen for keydown event
if (addEventListener) {
  window.addEventListener('keydown',keydownHandler, false);
} else if (window.attachEvent) {
  window.attachEvent('onkeydown', keydownHandler);
}



// handle keydown event
function keydownHandler (evt) {
    // return the old cell to normal
    if(!curRow) return

    getRow(curRow).className = 'normal';

    // increment/decrement the position of the current cell
    // depending on the key pressed
    if (evt.keyCode == 38 && curRow > 0) // up
        curRow--;
    else if (evt.keyCode == 40 && curRow < numRows-1) // down
        curRow++;

    // update the new cell
    getRow(curRow).className = 'highlighted';  
}


/////////////////////////////////////////////////////////////////////////////////
 
$('#billButton').click(function(e){
    // e.preventDefault()
    e.stopImmediatePropagation()
    if(patient_id){
        $('#billMOdal').modal('show')
        let patientDataArr = todaysPatients.filter(pat => pat.id == patient_id.patient)
        $('#patientName').html('<b>Patient Name: '+ patientDataArr[0].firstName + ' </b>')
    
    
    }
})


$('#serviceName').on('keyup', function(){
    let val = $(this).val().toLowerCase()
    let filltered_services = all_services.filter(item=>{
        if(item.particular.toLowerCase().indexOf(val) !=-1){
            return item
        }
    })
    let lists = ''
    filltered_services.map(item =>{
        lists += `<li id="seervice${item.id}">${item.particular}</li>`;
    })

    $('.ServiceList').html(lists)
    $('.ServiceList').css('display', 'block')


})

let bill_arr = [];
let selected_obj = {};


$('.ServiceList').on('click', 'li', function(){
    let id = $(this).attr('id').slice(8,)
    for(let i =0; i < all_services.length; i++){
        let obj = all_services[i]
        if(obj.id == id){
            $('#serviceName').val(obj.particular)
            $('#serviceAmount').val(obj.charges)
            selected_obj = obj;
            $('.ServiceList').hide()
            break;
        }
    }
})


$('#addService').click(function(){
    if(selected_obj != {}){
        let obj = {
            amount: $('#serviceAmount').val(),
            service: selected_obj.id,
            user: 'Admin'
        }
        bill_arr.push(obj)
        console.log(bill_arr)
        let total_rows = $('#billTable tbody').find('tr').length;

        let row = `
            <tr>
                <td>${++total_rows}</td>
                <td>${selected_obj.particular}</td>
                <td>${obj.amount}</td>
                <td>Admin</td>
            </tr>
        `;
        $('#billTable tbody').append(row)
        $('#serviceName').val('')
        $('#serviceAmount').val('')
        patient_id.total_bill = parseFloat(patient_id.total_bill) + parseFloat(obj.amount)
        patient_id.balance = parseFloat(patient_id.balance) + parseFloat(obj.amount)
        changeTable()
    }
})

function changeTable(){
    $('#TotalAmount').val(patient_id.total_bill) 
    $('#paid').val(patient_id.paid)
    $('#balance').val(patient_id.balance)
}

$('#paid').on('keyup', function(){
    let val = $(this).val() !== ''? $(this).val(): 0;
    patient_id.paid = parseFloat(val)
    patient_id.balance = parseFloat(patient_id.total_bill) - parseFloat(val)
    changeTable()
})



$('#Save').click(function(){
    $.ajax({
        url: '/apis/TodayBillHeader/',
        method: 'POST',
        data: JSON.stringify(patient_id),
        contentType: 'application/json',
        beforeSend: function(xhr){
            xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
        }
    }).done(function(resp){
        // bill_arr
        for(let i =0; i < bill_arr.length; i++){
            let obj = bill_arr[i]
            obj['bill_header'] = resp.id
            $.ajax({
                url: '/apis/TodayBillDetails/',
                method: 'POST',
                data: JSON.stringify(obj),
                contentType: 'application/json',
                beforeSend: function(xhr){
                    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
                }
            }).done(function(response){console.log(response)}).fail(err=>console.log(err))
        }
        $('#billMOdal').modal('hide')
    }).fail(err=>console.log(err))
})


$('#searchPatinet').on('keyup', function(){
    let val = $(this).val()
    console.log(val)

    $.ajax({
        url: '/searched?name=' + val, 
        method: 'GET',
        contentType: 'application/json'
    }).done(resp => {
        console.log(resp)
        let lists = '';
        for(let i=0; i < resp.length; i++){
            lists += `<li id='f${resp[i].id}'>${resp[i]['firstName']} ${resp[i]['surname']}(${resp[i]['tell_no']} / ${resp[i]['address'].slice(0,10)}...)</li>`
        }
        $('#search_patient').html(lists)
    
    })

})





</script>
{% endblock %}